html, body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row {
  display: flex;
  gap: 5px;
}

.cell {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;  
  /* line-height: 40px; */
  /*  background-color: red; */
  border: 2px white solid;
}

.cell.yes {
  background-color: green;
}

.cell.present {
  background-color: yellow;
}

.cell.no {
  background-color: gray;
}

button {
  margin: 10px;
}